*.class

# Package Files #
*.jar
*.war
*.ear
/Applets/applets/nbproject/private/
/Applets/applets/build/
/Applets/applets/dist/
/Applets/PrimeraApplet/nbproject/private/
/Applets/PrimeraApplet/build/
/Applets/WebApplet2/nbproject/private/
/Applets/WebApplet2/build/
/Applets/simpleCrud/nbproject/private/
/Applets/simpleCrud/build/
/Applets/simpleCrud/dist/
/CRUD_Simple/nbproject/private/
/CRUD_Simple/build/
/webCaluladoraWs/nbproject/private/
/webCaluladoraWs/build/
/webCaluladoraWs/dist/
/WsCalculadora2/nbproject/private/
/WsCalculadora2/build/
/clienteCalculadoraWs/nbproject/private/
/clienteWsCalculadora/nbproject/private/
/clienteWsCalculadora/build/